     /* Add loading screen styles */
     #loading-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        z-index: 9999;
    }

    #loading-msg {
        margin-bottom: 10px;
    }

    #loading-bar-container {
        width: 80%;
        background-color: #555;
        border-radius: 5px;
        overflow: hidden;
    }

    #loading-bar {
        height: 20px;
        width: 0;
        background-color: #3498db;
        transition: width 0.3s ease-in-out;
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #333;
        color: #ffffff;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-align: center;
        font-size: 16px;
        line-height: 1.6;
    }

    header {
        background-color: #222;
        color: #ffffff;
        padding: 1em 0;
        box-sizing: border-box;
        font-size: 2em;
        border-bottom: 2px solid #444;
        margin-bottom: 20px;
    }

    header h1 {
        margin: 0;
        font-size: 1.5em;
    }

    nav {
        margin-bottom: 20px;
        text-align: center; /* Center-align the text in the navigation */
    }

    select {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #3498db;
        border-radius: 20px; /* Add border-radius to the dropdown */
        cursor: pointer;
        outline: none;
        transition: border-color 0.3s ease;
        text-align-last: center; /* Center-align text within the select element */
    }

    select:hover,
    select:focus {
        border-color: #2c3e50;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px;
        box-sizing: border-box;
    }

    .site-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjusted grid size */
        gap: 15px;
        margin-top: 15px;
    }

    .site-card {
        background-color: #444;
        border: 1px solid #333;
        border-radius: 8px;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        text-decoration: none;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        max-width: 150px; /* Set a maximum width for the site card */
        margin: auto; /* Center the site card within its container */
    }

    .site-card:hover {
        transform: scale(1.05);
    }

    .site-card img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-bottom: 1px solid #333;
    }

    .site-info {
        padding: 10px; /* Reduce padding for the site info */
        text-align: center;
        flex-grow: 1;
    }

    .site-info h2 {
        font-size: 0.9em; /* Adjust the font size for the channel name (h2) */
        margin: 0;
    }

    .site-link {
        margin-top: 10px;
        color: #ffffff;
        text-decoration: none;
        background-color: #3498db;
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
        transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    }

    .site-link:hover {
        background-color: #2c3e50;
        color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .github-button {
        display: inline-flex;
        align-items: center;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        background-color: #4CAF50;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .github-button:hover {
        background-color: #45a049;
    }

    .github-icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .telegram-button {
        display: inline-flex;
        align-items: center;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        background-color: #0088cc; /* Use the color you prefer for Telegram */
        border-radius: 5px;
        margin-left: 10px; /* Adjust the margin as needed */
        transition: background-color 0.3s ease;
    }

    .telegram-button:hover {
        background-color: #006699; /* Adjust the hover color as needed */
    }

    .telegram-icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    /* Modern Search Bar Styles */
    .search-bar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%; /* Adjusted width for better visibility on small screens */
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        border-radius: 20px; /* Add border-radius for a curved end */
    }

    #channel-search {
        padding: 10px;
        border: none; /* Remove border to create a seamless appearance */
        border-radius: 20px; /* Match the border-radius of the container */
        width: 70%; /* Adjusted width for better visibility on small screens */
        font-size: 16px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    #channel-search:focus {
        outline: none;
        background-color: #eee; /* Change background color when focused */
    }

      #search-btn {
          background-color: #3498db;
          color: #ffffff;
          border: none;
          cursor: pointer;
          border-radius: 20px; /* Add border-radius to the search button */
          padding: 10px 20px; /* Add padding to the search button */
          transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
      }

      #search-btn:hover {
          background-color: #2c3e50;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    #search-icon {
        font-size: 20px;
        color: #3498db;
        transition: color 0.3s ease;
    }

    /* Media Query for Small Screens */
    @media only screen and (max-width: 600px) {
        .site-grid {
            grid-template-columns: repeat(3, 1fr);
        }

        #channel-search {
            width: 60%; /* Adjusted width for small screens */
        }

        #search-btn {
            width: 30%; /* Adjusted width for small screens */
        }

        #search-bar {
            align-items: stretch; /* Align items vertically to stretch the search bar */
        }

        #channel-search {
            width: 60%; /* Make the input full width */
            margin-bottom: 0; /* Remove margin at the bottom */
        }
    }