#counter-container span {
    margin-left: 2px;
}

        #counter-container {

   margin-top: -16px; /* Add space above the counter to separate it from the video */
    display: flex;
    justify-content: flex-end; /* Align the counter to the right */
    gap: 10px; /* Space between elements */
    padding: 10px;
    color: white;
    font-size: 11px;
    margin-right: 150px;

}

    #counter-container span {
        color: inherit; /* Make sure text has the same color */
        font-weight: bold; /* Avoid bold styles */
    }


.video-wrapper {
    position: relative;
    margin-bottom: 20px; /* Add space below the video */
}

#player {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    position: relative;
}

/* Prevent links and styles from appearing */
    #counter-container a {
        pointer-events: none; /* Disable link clicks */
        text-decoration: none; /* Remove underline */
        color: inherit; /* Inherit text color */
    }

