#counter-container {
    margin-top: 10px; /* Add space above the counter to separate it from the video */
    display: flex;
    justify-content: flex-end; /* Align the counter to the right */
    gap: 10px; /* Space between elements */
    background-color: rgba(0, 0, 0, 0.7); /* Dark background for readability */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-right: 185px; 
}

#counter-container span {
    display: inline-block;
    color: white;
}

#counter-container .separator {
    margin: 0 10px;
    color: white;
}

.video-wrapper {
    position: relative;
    margin-bottom: 20px; /* Add space below the video */
}

#player {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    position: relative;
}
