			body {
			      /* display: flex; */
			      align-items: center;
			      justify-content: center;
			      margin: 0 12px;
			      height: 100%;
			      background-color: #f1f1f1;
			
			    }
			
			    .box-shadow {
			      font-family: sans-serif;
			      font-weight: 600;
			      background-color: #2ecc71;
			      color: white;
			      padding: 10px;
			      border-radius: 4px;
			      box-shadow: 2px 2px 20px 23px #7fecad;
			      background-color: #f8f8f8;
			      padding: 20px;
			      border-radius: 10px;
			      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
			      text-align: center;
			      font-family: 'Arial', sans-serif;
			      font-size: 15px;
			      color: #333;
			    }
			
			    #title {
			      font-family: 'Gloock', serif;
			      font-weight: bold;
			      font-size: 28px;
			      color: #e61271;
			      text-align: center;
			      text-transform: uppercase;
			      letter-spacing: 4px;
			      margin: 20px 0;
			      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
			      background-color: #f1f1f1;
			      padding: 10px 20px;
			      border-radius: 10px;
			      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
			    }
			
			    a. {
			      text-decoration: none !important;
			    }

.card {
    width: 40%;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 48px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
}

.h-28 {
    height: 28px;
}

.mt-5 {
    margin-top: 5px;
}

.m-auto {
    margin: auto;
}

.opacity-100 {
    opacity: 1;
}

.text-center {
    text-align: center;
}

.text-sm {
    font-size: 0.875rem; /* 14px at default font size */
}

.font-bold {
    font-weight: bold;
}