body {
			      /* display: flex; */
			      align-items: center;
			      justify-content: center;
			      margin: 0 12px;
			      height: 100%;
			      background-color: #f1f1f1;
			
			    }
			
			    .box-shadow {
			      font-family: sans-serif;
			      font-weight: 600;
			      background-color: #2ecc71;
			      color: white;
			      padding: 10px;
			      border-radius: 4px;
			      box-shadow: 2px 2px 20px 23px #7fecad;
			      background-color: #f8f8f8;
			      padding: 20px;
			      border-radius: 10px;
			      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
			      text-align: center;
			      font-family: 'Arial', sans-serif;
			      font-size: 15px;
			      color: #333;
			    }
			
			    #title {
			      font-family: 'Gloock', serif;
			      font-weight: bold;
			      font-size: 28px;
			      color: #e61271;
			      text-align: center;
			      text-transform: uppercase;
			      letter-spacing: 4px;
			      margin: 20px 0;
			      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
			      background-color: #f1f1f1;
			      padding: 10px 20px;
			      border-radius: 10px;
			      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
			    }
			
			    a. {
			      text-decoration: none !important;
			    }

<!-- -->

/* Styles for the search input */
#searchInput {
    width: 100%;
    margin: 4px;
    padding: 1.5px 3px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: transparent;
    outline: none;
    transition: all 0.3s ease;
}

#searchInput::placeholder {
    color: #666;
}

#searchInput:focus {
    border-color: #007bff;
    color: #666;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Styles for the list container */
#listContainer {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 1rem;
    margin: auto;
}

/* Responsive grid columns */
@media (min-width: 640px) {
    #listContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    #listContainer {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    #listContainer {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 1280px) {
    #listContainer {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

@media (min-width: 1536px) {
    #listContainer {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}
